@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}
.image-gallery-thumbnail-image {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.image-gallery-slide .image-gallery-image {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.fullscreen .image-gallery-image {
  aspect-ratio: initial;
  object-fit: contain !important;
}
